.wrapper {
  display: grid;
  grid-template-columns: auto 100px;
  height: 60px;
  border-radius: 10px;
  background-color: #F9F9F9;
}

.text {
  border: none;
  outline: none;
  background: none;
  padding: 20px;
  color: black;
  font-size: 16px;
}

.btn {
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(5, 121, 184);
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(62, 111, 125);
}
