.App {
  display: grid;
  grid-template-columns: auto 200px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
}

.Column {
  color: white;
}

.Content {
  /*height: calc(100vh - 200px);*/
  height: 90%;
  overflow-y: scroll;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #F9F9F9;
}

::-webkit-scrollbar {
  display: none;
}
