.app {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  /* flex-shrink: 0; flex-shrink: 0; and flex-basis to fixed height */
  flex: 0 0 50px;
  text-align: center;
  padding: 10px;
}

.footer {
  font-size: 0.75rem;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1; /* fill remaining space */
}

.content {
  flex: 1; /* fill remaining space */
  overflow-y: auto; /* add scroll if content overflows */ 
  position: relative;
  background-color: #F9F9F9;
}

p {
  white-space: pre-wrap;
  word-wrap: break-word;   
}

.sidebar {
  flex: 0 0 15%;
}
