.app {
  background-color: #F9F9F9;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-flow: row wrap;
}

footer {
  text-align: center;
}

aside:nth-child(1) {
  flex: 0 0 25vh;
}

aside:nth-child(3) {
  flex: 0 0 25vh;
}

section {
  flex: 1 0 auto;
  overflow-y: scroll;
  max-width: 75%;
  background-color: white;
}

.messages {
  height: 75vh;
}
