@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@font-face {
  font-family: 'Trueno';
  src: local('TruenoRg'), url(./styles/fonts/TruenoRg.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Trueno', sans-serif;
}

html, body {
  height: 100vh;
}

div#root {
  height: 100vh;
}
